general:
  clientUrl: {{ dsw_client_url }} 
  secret: {{ dsw_general_secret }}
  serviceToken: {{ dsw_general_serviceToken }}
# !! Change the secrets if exposing the service

database:
  connectionString: {{ dsw_postgres_url }} 

s3:
  url: {{ dsw_minio_url }}
  username: {{ dsw_minio_user }}
  password: {{ dsw_minio_password }}
  bucket: {{ dsw_minio_bucket }}

mail:
  # legacy (if false, no emails are sent - dry-run)
  enabled: {{ dsw_mail_enabled | default('false') }}
  name: {{ dsw_mail_name | default('') }}
  email: {{ dsw_mail_email | default('') }}
  host: {{ dsw_mail_host | default('') }}
  # port: default (empty) = based on security 25/465/587
  port: {{ dsw_mail_port | default('') }}
  # security: plain | ssl | starttls
  security: {{ dsw_mail_security | default('starttls') }}
  authEnabled: {{ dsw_mail_authEnabled | default('false') }}
  username: {{ dsw_mail_username | default("''") }}
  password: {{ dsw_mail_password | default("''") }}
  # legacy "ssl" flag (if security is missing)
  #  - true = security: ssl
  #  - false = security: plain
  ssl: {{ dsw_mail_ssl | default('true') }}
  rateLimit:
    # time windows in seconds, 0=disabled rate limit
    window: {{ dsw_mail_rateLimit.window | default('300') }}
    # max number of messages within the window
    count: {{ dsw_mail_rateLimit.window | default('10') }}
  # SMTP connection timeout (default: 5 seconds)
  timeout: {{ dsw_mail_timeout | default('5') }}
