# (!!) Change the secret and RDA private key to your own
general:
  clientUrl: {{ dsw_client_url }} 
  secret: {{ dsw_general_secret }}
  rsaPrivateKey: |
    -----BEGIN PRIVATE KEY-----
    MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQDAnVF1ve9ZQ2GS
    NmEq8h4EJ40x7bD7ccsBIBfSHUeP8ifXVVrk5J0RJO/aPfLSJoKSdO6qFCuUrVb4
    3xLKke1TNJR3T2M7KxWHYy6nAN1P5Fk6QaJHmHGgNRilm2TpdN/WQiDIuZn75INC
    1tW9NTUDwvs3nQg48LuiCHtMfVClfaUGrdpWP354HDaNL81v0nj7Cs9ioeSeBoKe
    tG4kIAIcuEqiT+LI9cWKVclJ55P+joyOe6drUVL90K1QFncDcg1G6NC4RBR+6lvS
    hzmklvzhJ0ktpjlES3wlONE/2fWD4HksINO+CwIaaxspiVNbI2vTiaRdNzeXA98N
    ++KSEgOHzjpbSI07YbdxXneqReMOSgh40GCoPIJovIgGg0nQ7boGPfFfKRkwXsT+
    F6HBvKoxV00voEh1LDr1PVjeo4CPoF4pOclmxQMg3LW6piTmwgCQj+LAIc186Ghw
    B2sQY17FXEG/EZxhoTR2VXhYshftBUWLHnDwov4aPh8UDigJZwnxLq/UYlJDymxS
    O6G1ltpYI9OytUTicGPVGZnVUx18oTTNl9RCox1R0C3vOV56iAd6ornCEhuavtqM
    PXLBs09IV+e858hcC8Klay8akbIWaCBcfv0SkE9SfrtlePw5HJeCc0Kp1lYofuPf
    diTGFxcTudwgx2UEi7ihjxNKSUzfnQIDAQABAoICACbC4eQ8Y0DG3wlB+T7ft2ul
    m/Pqvd1z8mLZFwIZE1Aj7qGWUzLR0Mvk74GvSsDAsDER5/+BDJ4gXeq6VXk/cY93
    etMhvjnney8iJf7EnUTZEp23HJWk12TimoGlKmMSuoLPDvLl6td2jnWybxPi87a8
    k7qG1uNCirfaVhm39DVBeibEcLY/k89O+ilib8irhd4bOE3Ef5HPhJS0gZ+yc0pd
    SeOtCNnhH64tglLlj/I/tIht2OyvUnCygFYoFy4x0vssmegjBy7dMbpFrTNykRQs
    SD0wAME+IY8KBo3/ajluQGRBfOr3Iya23CH5OTWThLzuq414sa6pwEb7pAY6Ksxd
    lcsZ+LiU7/1zWPfc63olTzx5SCShhZrTM2Xbe5QA6siIsb2DVaILSqofUe4uxpd9
    nHN7OSG5mLD/RdytjsrIp6xt6fIjELstkhOQWi2Xdpq+cm//4UTl8oTMPI98dzqn
    +Rr0KdZ1gRxuAyhWBL6aaY3BZMZzW54taHucQais0ss4y6IOq0F1LIJy2zycL4pE
    cb+yN6U7flyp9PLKo/S8kBoUFBzbfh/EEqRWJC5OxwNhr8bzGXaLwx5UUejkDesO
    iflAqjmMULKYDsnVK6GQ1YUkDZpraY+VmEV8S3K3ACFr2P5puWss6GdLJGpeRN3i
    vr/euG2BA9PJPm6fHfK/AoIBAQDpuofAINdrUhxj6RHZNbMBiq3sqzsWK3fhagYp
    sCCuaztqWCjgmA/ldNFq+rSYZnEU0FX87d4bv+35fLWTDNz4z0lwGooJ9/0gDv/p
    xIyFZ7Jm845LzSVNKRjiW3xvm23+kNTY9yI8M0bw8WILrY2ZW0nLiLrXST+JLHtL
    eNrjGLmUGte5/TkI+AfgJkXQgVe4ipHHvjusalrSkGjzGjZtZkFwUoxPxL2045yh
    nmqL7FDwr2f9iOcqPGDs2HeqjcjIJGahT1VbOgDoZtDzN1pUXJEeK0UMnch7zVIR
    OZkvI8CVHIsgbKOk6Y+Q2d6YPg8e3mTqxwbyZ/KwCYF/tzdLAoIBAQDS9958NSzf
    FP4bzzNJVUdQRIjkajiBHCECIPDkPlxVk395XKBzDNa7yBYya+CW+jos4nHax4Pc
    1HZJP86VB1SFyzOStElc/aTy97V6FWiFNZZFVDM3uFUPNZ7aa08t1g0MMIX1geXp
    4VfIxdkOB3FnFCZ105vJlt+i/U+nkmMUkDrh7eutSRyRBlrPhr58v541zva1u4mK
    L8RI7VwxwvppjwDZTm4TivvGsJ6cIIaRBRlvXHAOS5s+omEr5GLSkvzcBJmvvP00
    5D6C+BRHYjbVBIBBvO/IsxAbuG6u/Vogi2a2/7XlwOTcZJUkm1K/H0hCgRC++w+w
    355mVlpgqGu3AoIBAGHHaC0nUBeUtU3S3mWpQmbdtl8xTzm6G5/QtB1SkomFUMjv
    csJquxO6KDYCBfVPvfUAJ0j11hpz08Gwu2F2Wyc3yLg+UgtTlLCJteP9FvBkbk0F
    jT0G6Jj8HW3s6gTi2ERMIM9XrBnVNdNsmCDcjUVf3GJqpAeWnB7t3fK375Jb8J8W
    D7O+TNMEuH68ZC6TPbh1OAGBAwPhRneadF1nVOe1hKDR1+MzIk3/frJaTKaWyVG3
    f+CgGl0f/0h2UrGmOR4JpGnNf573iBOxl654NLDgPNGLNorNo2avgaq1FvGSmmmH
    FGkPKfK+xxHJI4c7RyYZ0cwqUSyt8ehVQbjFVDsCggEARBIKTZVyxwAlBaATckP7
    4KBccyb62F3VILS0RVEBxfLznJsQgk7QMoLa9qXsL4rJnpXqGqdpmqVLDVNzOo7E
    7O6l014slb6ZrHPUsHGb6e9ibzg91mq5t1Cb0unxAF8ikp5NeuvQ3WgCRRvhby9j
    ndjYmAgRKjhuLE8DlpQbOBVZinCULLN8bibYwkE90U6ao84FuJmsRVQoR0efCcdZ
    uRmVMoil59RebLusUcAE62Hz1QTEezhV/R2zsM/eOweGYw9w701RffFvYh7dnDLK
    cm0jXRKzY9SzC960h+3jWMDiAYX8kQduUNZ7cPZU+qoDTMIMPzMO2wksOOUAAFQX
    fQKCAQEA4bSvvxUn3Ggs9j9mxq25W/tm85grxR/Pc9ypK/XQcdNfopBbOGCLzuEn
    slkLPHqHPJb8Z+wQG4RMSM3IIbD/UBsWMssCBvdE2+CyDaBkkLM61RwBd+NzLWRS
    6mPYE0T18bPMtJaBIG8B449+Mad5Vb4oJnVEXAiViOMVogxFUPZCikw7jvejbybN
    Jio8/7vmVI8DrF6TgU/W6uMLuP0W7+uKCTMn6gkfKsH4s0/TLjHxbu/PU2EZnEPo
    wHvZUP1/IAcDY/8c2jvAC0MI9lbixCaEiVXZUI6A4mubmdnnf9IQWconSB83M4hj
    qvY2nem0C0CNgfRYPbIxbmzb7wxoaw==
    -----END PRIVATE KEY-----

database:
  connectionString: {{ dsw_postgres_url }} 

s3:
  url: {{ dsw_minio_url }}
  username: {{ dsw_minio_user }}
  password: {{ dsw_minio_password }}
  bucket: {{ dsw_minio_bucket }}

mail:
  enabled: {{ dsw_mail_enabled | default('false') }}
  name: {{ dsw_mail_name | default('') }}
  email: {{ dsw_mail_email | default('') }}
  host: {{ dsw_mail_host | default('') }}
  # port: default (empty) = based on security 25/465/587
  port: {{ dsw_mail_port | default('') }}
  # security: plain | ssl | starttls
  security: {{ dsw_mail_security | default('starttls') }}
  authEnabled: {{ dsw_mail_authEnabled | default('false') }}
  username: {{ dsw_mail_username | default("''") }}
  password: {{ dsw_mail_password | default("''") }}
  # legacy "ssl" flag (if security is missing)
  #  - true = security: ssl
  #  - false = security: plain
  ssl: {{ dsw_mail_ssl | default('true') }}
  rateLimit:
    # time windows in seconds, 0=disabled rate limit
    window: {{ dsw_mail_rateLimit.window | default('300') }}
    # max number of messages within the window
    count: {{ dsw_mail_rateLimit.window | default('10') }}
  # SMTP connection timeout (default: 5 seconds)
  timeout: {{ dsw_mail_timeout | default('5') }}
