version: '3'
services:
 
  reverse-proxy:
    image: nginx:latest
    restart: always
    ports:
      - 80:80
      - 443:443
      - 3443:3443
    volumes:
      - {{ rproxy_config_dir}}/nlginx/ssl:/etc/nginx/ssl:ro,z
      - {{ rproxy_config_dir}}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro,z
    networks:
      - dsw_default
      - dsw-test-backend

networks:
  dsw_default:
    external: true
  dsw-test-backend:
    external: true